/*中间分类模块*/
.grid {
    height: 480px;
    /* background-color: pink; */
}

/* 中间分类的第一个模块 由左至右--------------- */
.grid-col1 {
    width: 190px;
    height: 100%;
    background-color: #6e6568;
    margin-right: 10px;
    color: #fff;
    font-size: 14px;
    /*不是给字的 是给 / 的*/
    position: relative;
}
.grid-col1 .ad{
width: 250px;
height: 480px;
background-color: pink;
position: absolute;
top: 0;
left: -250px;
}
.ad-r{
    position: absolute;
    top: 0;
    left: 250px;
    z-index: 999;
    width: 0;
    height: 480px;
    background: url("../images/ad-r.jpg");
    transition: all .8s;
}
.ad:hover .ad-r{
    /* 鼠标经过大盒子时  ad-r盒子的宽度会由0变990. */
  width: 990px;
}
.grid-col1 a {
    color: #fff;
    font-size: 14px;
    margin: 0 3px;
}

.grid-col1 a:hover {
    color: #f10215
}

.grid-col1 ul {
    padding: 10px 0;
}

.grid-col1 ul li {
    height: 29px;
    line-height: 26px;
    padding-left: 12px;
}

.grid-col1 ul li:hover {
    background-color: #9c9698;
}

/* 中间分类的第二个模块 由左至右--------------- */
.grid-col2 {
    width: 790px;
    height: 100%;

}

/* banner部分 */
.grid-col2-b div {
    float: left;
    margin-top: 10px;
}

.grid-col2-b div:last-child {
    float: right;
    margin-top: 10px;
}

/* 轮播图部分 */
.grid-col2-t {
    overflow: hidden;
    position: relative;
    width: 790px;
    height: 340px;
}
.grid-col2-t .lunbo{
    position: absolute;
    top: 0;
    left: 0;
    width: 600%;
}
.grid-col2-t .lunbo li{
    float: left;
}
.grid-col2-t .lunbo img{
    width: 790px;
    height: 340px;
}
/* 左右箭头部分 */
.arrow-l,
.arrow-r {
    display: none;
    position: absolute;
    top: 50%;
    width: 30px;
    height: 60px;
    background: rgba(0, 0, 0, .3);
    transform: translateY(-50%);
    /*自身盒子的一半*/
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    color: rgba(255, 255, 255, .6);
    font-family: Arial;
    font-weight: normal;
    z-index: 999;
}

.arrow-r {
    right: 0;
}

/* 小圆点部分 */
.circle {
    /* width: 167px; */
    height: 20px;
    background: rgba(0, 0, 0, .3);
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    border-radius: 10px;
    /* padding-left: 0px; */

}

.circle li {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    float: left;
    /* padding: 5px; */
    margin: 4px;
    cursor: pointer;
}

.circle .current {
    /* 注意权重问题 */
    background-color: #f10215;
}

/* 中间分类的第三个模块 由左至右--------------- */
.grid-col3 {
    width: 190px;
    height: 100%;

}

/* 登录模块 */
.login {
    height: 85px;
    /* box-sizing: border-box;  或者用这个  这样可以不用减高度 */
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 15px;
}

.login-t {
    position: relative;
    width: 95px;
    height: 60px;
    line-height: 20px;
    font-size: 12px;
    white-space: nowrap;
    /*强制一行显示*/
    overflow: hidden;
    /**超出部分隐藏*/
    text-overflow: ellipsis;
    /*超出部分显示省略号*/
    color: #666;
    padding-left: 60px;
    /*这里给padding 把文字挤过来*/
}

.login-t a {
    color: #666;
}

.login-t a:hover {
    color: #f10215;
}

.user-info {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    /* border-radius: 50%;
    overflow: hidden;  给父元素圆角时要用hidden */
    background: url("../images/sprite_userinfo@1x.png") no-repeat -70px 0;
}

.user-info img {
    width: 40px;
    margin: 5px;
    border-radius: 50%;
}

.login-b a {
    display: inline-block;
    width: 70px;
    height: 20px;
    border: 2px solid #f10215;
    margin-right: 3px;
    text-align: center;
    line-height: 20px;
    color: #f10215;
}

.login-b a:hover {
    background-color: #f10215;
    color: #fff;
}

/* 新闻模块 */
.news {
    height: 155px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 7px 13px 0;
    box-sizing: border-box
}

.news-t {
    height: 19px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.news-t a {
    float: left;
    height: 17px;
    line-height: 17px;
}

.cuxiao {
    width: 38px;
    border-right: 1px solid #ccc;
}

.gg {
    margin-left: 15px;
}

.news-t .more {
    float: right;
}

.news-t div {
    height: 2px;
    width: 28px;
    background-color: #f10215;
    position: absolute;
    bottom: -1px;
    left: 0;
}

.news-b {
    padding-top: 15px;
}

.news-b li {
    height: 23px;
    line-height: 23px;
}

/* 服务拓展模块 */
.expand {
    height: 208px;
    background-color: #fff;
    overflow: hidden;
}

.expand ul {
    width: 195px;
    /*父元素是190 但是里面的li 宽度超过了190 摆放不开4个li 此时ul 宽度变大*/
}

.expand li {
    width: 47px;
    height: 69px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    float: left;
}

.expand li a {
    display: block;
    padding-top: 15px;
    text-align: center;
}

.expand li i {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    background: url("../images/sprite_fs@1x.png") no-repeat;
    height: 23px;
}

.expand li:first-child i {
    width: 18px;
    /* height: 23px; */
    background-position: -5px -88px;

}

.expand li:nth-child(2) i {
    width: 20px;
    height: 23px;
    background-position: -2px -46px;
}

.expand li:nth-child(3) i {
    width: 18px;
    /* height: 23px; */
    background-position: -47px -90px;
}

.expand li:nth-child(4) i {
    width: 25px;
    /* height: 23px; */
    background-position: -88px -6px;
}

.expand li:nth-child(5) i {
    width: 22px;
    /* height: 23px; */
    background-position: -89px -46px;
}

.expand li:nth-child(6) i {
    width: 18px;
    /* height: 23px; */
    background-position: -3px -2px;
}

.expand li:nth-child(7) i {
    width: 22px;
    /* height: 23px; */
    background-position: -45px -48px;
}

.expand li:nth-child(8) i {
    width: 15px;
    /* height: 23px; */
    background-position: -93px -89px;
}

.expand li:nth-child(9) i {
    width: 19px;
    background-position: -135px -1px;
}

.expand li:nth-child(10) i {
    width: 19px;
    background-position: -136px -45px;
}

.expand li:nth-child(11) i {
    width: 22px;
    background-position: -133px -92px;
}

.expand li:nth-child(12) i {
    width: 15px;
    background-position: -48px -1px;
}